{% extends 'base.html' %}

{% block content %}
    <!--loop through posts-->
    {% for post in top_posts %}
        <div class="post-container">
            <a class="post-title-box" href="{{post.get_absolute_url}}">
                <div class="post-title">
                    {{post.title}}
                </div>
            </a>
            <div class="post-preview-container">
                <a href="{{post.get_absolute_url}}">
                    {% if post.fileType = "Image" %}
                    <img class="post-preview" alt={{post.description}} src={{post.content|safe}}>
                    {% endif %}

                    {% if post.fileType = "Video" %}
                    <video width="320" height="240" controls>
                        <source src={{post.content|safe}}>
                    Your browser does not support video
                    </video>
                    {% endif %}

                    {% if post.fileType = "Youtube" %}
                    <iframe type="text/html" width="600" height="300" src={{post.content|safe}} frameborder="0"></iframe>
                    {% endif %}  
                </a>
            </div>
            <div class="like-container">
                <p>
                    <a class="like" href="/like/{{post.slug}}/">
                        <span>
                              {{post.likes}}
                        </span> Like
                    </a>
                    <a class="liked">Nice!</a>
                </p>
            </div>

        </div>
    {% endfor %}
        <!--begin next and back buttons-->
    <div class="page-nav-button-container">
        <div class="back-button">
            {% if current_page > 1%}
            <a class="next-button-link" href="/top/back/{{current_page}}/">
                Back
            </a>
            {% endif %}
        </div>
        <div class="next-button">
            {% if current_page <= total_pages %}
            <a  class="next-button-link" href="/top/next/{{current_page}}/">
                Next
            </a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block widget %}
        <!--try to loop through post labels-->
        <div class="widget">
            <div class="widget-title">
                <p>
                Share on Facebook!
                </p>
            </div>

            {% for post in widget_posts %}
                <p class="widget-post-preview" >
                    <span class="widget-like-count">{{post.title}}</span>
                    <a href="{{post.get_absolute_url}}">
                        {% if post.fileType = "Image" %}
                        <img class="widget-post-preview" alt={{post.description}} src={{post.content|safe}}>
                        {% endif %}

                        {% if post.fileType = "Video" %}
                        <video class="widget-post-preview" width="320" height="240" controls>
                            <source src={{post.content|safe}}>
                        Your browser does not support video
                        </video>
                        {% endif %}

                        {% if post.fileType = "Youtube" %}
                        <iframe class="widget-post-preview" type="text/html" width="600" height="300" src={{post.content|safe}} frameborder="0"></iframe>
                        {% endif %}  
                    </a>
                <p>
            {% endfor %}
        </div>

{% endblock %}

{% block addthis %}
    <div id="sharetab">
        <!-- AddThis Button BEGIN -->
        <div id="addthisbutton" class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_pinterest_share"></a>
        <a class="addthis_button_google_plusone_share"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52a764f2335d0f86"></script>
        <!-- AddThis Button END -->
    </div>
{% endblock %}