.content{
	padding-top: 50%;
}

.tagline-verse{
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	opacity: .3;
	color: #D63333;
}

/*.bold{
	font-weight: 700;
	opacity: 1;
}*/

.tagline-verse:hover{
	opacity: 1;
}