<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--Production Stylesheet-->
<!--         <link rel="stylesheet" type="text/css" href="http://davcheng.com/resources/stylesheet/hopeforsure-stylesheet.css"> -->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <title>
            Hope For Sure
        </title>
    
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $("a.like").click(function(){
                var curr_elem = $(this) ;
                $.get($(this).attr('href'), function(data){
                    var likecount_div = $(curr_elem).parent().find(".updated-likes");
                    likecount_div.text(likecount_div.text()*1+1); 
                }); 
                $(curr_elem).parent().find(".like").hide();
                $(curr_elem).parent().find(".liked").show();
                $(curr_elem).parent().attr('class', 'liked-container')
                return false;
            });
        });
        </script>

    </head>

    <body>
        <div class="masthead-container">
            <a href="/">
                <div class="tagline-verse">
                    "Now faith is being <span class="bold">sure of what we hope for</span> and certain of what we do not see." - Hebrews 11:1 
                </div>
            </a>
        </div>

        <!--begin nav-bar-->
        <div class="menu-container">
            <a href="/">
                <div class="menu-item">
                    Home
                </div>
            </a>
            <a href="/top/">
                <div class="menu-item">
                    Popular
                </div>
            </a>
            <a href="/random/">
                <div class="menu-item">
                    Random
                </div>  
            </a>
            <a href="/id/">
                <div class="menu-item">
                    Submit
                </div>     
            </a>
            <a href="/about/">
                <div class="menu-item">
                    About
                </div>    
            </a>     
        </div>

        <!--begin posts-->
        <div class="post-container">
            {% block content %}

            {% endblock %}

	    </div>

        <!--begin widget sidebar-->
        <div class="widget-container">
            {% block widget %}

            {% endblock %}

        </div>
    </body>
    <footer>
        <div class="tagline-verse">
            "Now faith is being <span class="bold">sure of what we hope for</span> and certain of what we do not see." - Hebrews 11:1 
        </div>
    </footer>
</html> 