html{
	background-color: #F5F0EB;
}

.logo{
	width: 80px;
	padding-left: 25px;
	margin-top: -10px;
}

body{
	background-color: #FFFFFF;
    border-width: 0 1px 1px;
	border-style: solid;
	border-color: #D63333;
    min-height: 1000px;
    width: 1000px;
    margin: 0 auto;
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Petrona', serif;
/*	font-family: 'Signika', sans-serif;*/
	letter-spacing: 1px;
	/*font-family: 'Average Sans', sans-serif;*/
}

.masthead-container{
	border-bottom: 1px solid #E5E5E5;
	height: 70px;
}

.menu-container{
	width: 100%;
	font-size: 10px;
    height: 26px;
    background-color:  #990000;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.menu-item{
	display: inline;
    padding: 2px 35px;
	/*font-family: 'Signika', sans-serif;   */
	font-family: 'Petrona', serif;
/*	font-family: 'Roboto Slab', serif;*/
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
}

.menu-item:hover{
	background-color: #D63333;
}

.content{
	color: black;

}

h1{
	font-weight: 400;
}

.post-container{
	
}

.post-title-box{
	font-size: 18px;
	color: #FFFFFF;
	margin: 0 0 0 10px;
}

.post-title{
	background-color: #D63333; 

	margin: 0 0 10px;
	width: 575px;
	padding-left: 25px;
	line-height: 25px;
}

/*for individual posts*/
.post-container{
	margin: 0 100px 0 15px;
	width: 575px;
	float: left;
}

.post-content{
	width: 600px;
	float: left;
}

.social-media-sharing{
	margin: 0 0 0 25px;
	width: 550;
	float: left;
}

a{
	text-decoration: none;
	color: inherit;
}

.tagline-verse{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	opacity: .3;
	color: #D63333;
	bottom: 5px;
	display: inline-block;
}

.tagline-verse:hover{
	opacity: 1;
}

.post-preview-container{
	width: 600px;
}

.post-preview{
	width: 250px;
	margin-left: auto;
    margin-right: auto;
    display: block; 
}

.post-preview{
	width: 550px;
	margin-left: auto;
    margin-right: auto;
    display: block; 
}

.posted-date{
	float: right;
	width: 275px;
	text-align: right;
	display: inline-block;
}

.feature{
	width: 600px;
}

/*like button style*/
.like-container{
	margin: 5px 0 0 30px;
	width: 100px;
	background-color: #D63333;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	float: left;
	line-height: 25px;
	height: 25px;
}

/*before user has clicked*/
.like{
	font-size: 14px;
	line-height: 12px;
}

.liked-container{
	margin: 5px 0 0 30px;
	width: 100px;
	background-color: #990000;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	float: left;
	line-height: 25px;
	height: 25px;

}

.like-container:hover{
	background-color: #990000;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/*after user has clicked*/
.liked{
	display: none;
}


.page-nav-button-container{
	position: relative;
	float: left;
	width: 700px;
	height: 40px;
	padding-top: 50px;
}

.next-button{
	margin: 0 0 0 10px;
	color: #FFFFFF;
	background-color: #D63333;
	height: 40px;
	line-height: 40px;
	width: 128px;
	position:relative;

	float: left;
	text-align: center;
	vertical-align: middle;

}

.next-button:after {
	content: '';
	position: absolute;
    top: 0;
	left: 128px;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-left: 12px solid #D63333;
}
.next-button:before {
	content: '';
	position: absolute;
    top: 0;
	left: 129px;
	width: 0;
	height: 0;
	border: 20px solid transparent;

}

.back-button{
	margin: 0 0 0 183px;
	color: #FFFFFF;
	background-color: #D63333;
	height: 40px;
	line-height: 40px;
	width: 128px;
	position:relative;

	float: left;
	text-align: center;
	vertical-align: middle;
	
}

.back-button:after {
	content: '';
	position: absolute;
    top: 0;
	right: 128px;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-right: 12px solid #D63333;
}
.back-button:before {
	content: '';
	position: absolute;
    top: 0;
	right: 129px;
	width: 0;
	height: 0;
	border: 20px solid transparent;

}

/*widget*/
.widget-header{
	background-color: #D63333;
	margin: 25px 0 10px;
	width: 250px;
	font-size: 18px;
	color: #FFFFFF;
}

.widget-container{
	float: left;
	width: 240px;
	padding-left: 25px;
}

.widget-title{
	margin: 24px 0 10px 0;
	background-color:#D63333;
	color: #FFFFFF; 
	width: 240px;
	text-align: center;
	line-height: 25px;
}

.widget-post-preview{
	width: 225px;
	margin-left: auto;
    margin-right: auto;
    display: block; 
}

.addthisbutton{
	margin: auto;
}

.disqus{
	width: 580px;
	margin: 0 0 0 15px;
}

#sharetab{
	margin-left: 986px;
	background: #FFFFFF;
	border-color: #D63333;
	z-index:1000;
	top: 96px;
	width:54px;
	padding:10px 0 10px 10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomright:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	position: absolute;
	
}


/*submit page*/

.submit-form {
 
    width: 500px;
    padding: 20px;
    background: #f0f0f0;
    overflow:auto;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
 	padding: 30px;
 	margin:30px;

}



.field-label{
	font-family: 'Signika', sans-serif;
    display: block;
    float: left;
    margin-right:10px;
    text-align: right;
    width: 120px;
    line-height: 25px;
    font-size: 15px;

}

 .submit-field{
	font-family: 'Signika', sans-serif;
    font-size: 15px;
    padding: 5px;
    /*border: 1px solid #b9bdc1;*/
    width: 300px;
    color: #797979;
    display: block;
    float: left;
}

.submit-form:focus{
	border: 2px solid #99000;
}
#id_title:focus{
	border: 2px solid #99000;
}

input{
	/*border: none;*/
	width: 294px;
}

.submit-button {
    float: right;
    margin:10px 55px 10px 0;
    line-height: 1;
    padding: 6px 10px;
    cursor: pointer;
    color: #FFFFFF;
    width: 100px;
 
    text-align: center;
 
    /* Background gradient */
    background: #D63333;

    /* Border style */
    border: 1px solid #990000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 
}

.field-label{
	float: left;
	text-align: left;
}

.fieldWrapper{
	display: block;
	float: left;
	margin-top: 20px;
}

.errorlist{
	color: #990000;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs {
	margin-top: 3px;
}

footer{
	clear: both;
	background-color: #990000;
	color: #FFFFFF;
    border-width: 0 1px 1px;
	border-style: solid;
	height: 30px;
	line-height: 30px;
    width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    text-align: center;
	/*font-family: 'Average Sans', sans-serif;*/
}